{% load staticfiles %}

<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <title>Daves Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">
    <script src="{% static 'mysite/prefixfree.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#featured"><h1>Code<span class="subhead">With Christ</span></h1></a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#featured">Home</a></li>
          <li><a href="#mission">Mission</a></li>
          <li><a href="#services">Courses</a></li>
          <li><a href="#staff">Instructors</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
        </ul>        
      </div><!-- collapse navbar-collapse -->
    </div><!-- container -->
  </nav>

  <div class="carousel fade" data-ride="carousel" id="featured">

    <ol class="carousel-indicators">
    </ol>

    <div class="carousel-inner fullheight">
      <div class="item"><img src="{% static 'mysite/img/carousel-lifestyle.jpg' %}" alt="Lifestyle Photo"></div>
      <div class="item"><img src="{% static 'mysite/img/carousel-mission.jpg' %}" alt="Mission"></div>
      <div class="item"><img src="{% static 'mysite/img/carousel-vaccinations.jpg' %}" alt="Vaccinations"></div>
      <div class="item"><img src="{% static 'mysite/img/carousel-fish.jpg' %}" alt="Fish"></div>
      <div class="item"><img src="{% static 'mysite/img/carousel-exoticanimals.jpg' %}" alt="Exotic Animals"></div>      
    </div><!-- carousel-inner -->

    <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- featured carousel -->
</header>

<div class="main">
  <div class="page" id="mission">
    <div class="content container">
      <h2>Our Mission</h2>      
      <div class="row">
        <p class="col-md-5 col-md-offset-1">At Code with Christ, we are striving to deliver an experience that allows students to learn web development skills, so that they can obtain a job that allows them to thrive. Exciting careers await those who are willing to work hard to learn to code. </p>
        <p class="col-md-5">We strive to be your professors who can help you learn any language you prefer to accomplish the tasks you are seeking to invest your time in.  We will grow along with you as we seek to advance the Kingdom of God.</p>
      </div><!-- row -->
    </div><!-- content container -->
  </div><!-- mission page -->

  <div class="page" id="services">
    <div class="content container">
      <h2>Courses</h2>
      <div class="row">
        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/icon-exoticpets.svg' %}" alt="Icon">
          <h3>Python</h3>
          <p>Master the basics of python to build your own programs and games if you choose.</p>
        </article>

        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/html.png' %}" alt="Icon">
          <h3>HTML/CSS</h3>
          <p>Learn how to design and style a webpage so it looks like a professional website.</p>
        </article>

        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/icon-health.svg' %}" alt="Icon">
          <h3>Basic Computer Skills</h3>
          <p>Learn the basics of how a computer works and learn how to navigate the web safely.</p>
        </article>

        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/icon-nutrition.svg' %}" alt="Icon">
          <h3>Internet Protection</h3>
          <p>Protect your children from the dangerous urls of the web.</p>
        </article>

        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/icon-pestcontrol.svg' %}" alt="Icon">
          <h3>Django</h3>
          <p>Learn how to use a web framework to implement all the other elements of programming you have learned.</p>
        </article>

        <article class="service col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="{% static 'mysite/img/icon-vaccinations.svg' %}" alt="Icon">
          <h3>Javacript and Jquery</h3>
          <p>Learn to make your webpages interactive with use of Javascript and Jquery.</p>
        </article>   
      </div><!-- row -->   
    </div><!-- content container -->
  </div><!-- services page -->

  <div class="page" id="staff">
    <div class="container-fluid">
      <h2 id="ourstaff">Instructors</h2>
      <div class="row">
        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-rounded" src="{% static 'mysite/img/daveandamber.jpg' %}" alt="Photo of Dave and Amber">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>David</h3>
              <p>Dave is married to amber and they live in Florida for now. He was a finisher of the first semester and has since started his own freelance company and now teaching the html, css, django, and javascript portion of the course </p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- doctor -->

        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-rounded" src="{% static 'mysite/img/doctor-chase.jpg' %}" alt="Photo of Dr Chase">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Zachary</h3>
              <p>Zach is married to Lara and they also live in Florida. His vision was to create a course that allowed people to learn how to code so that they could obtain better careers. He teaches all sections of the course and will continue to do so forever.</p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- doctor -->

        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-rounded" src="{% static 'mysite/img/doctor-winthrop.jpg' %}" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Kelsey</h3>
             <p>Kelsey teaches all things design related and was the validictorian of the first course offered.</p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> 


      </div><!-- outer row -->
    </div><!-- container -->
  </div><!-- staff page -->

  <div class="page" id="testimonials">
    <div class="container-fluid">
      <h2>Testimonials</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="janeh">
          <div class="quote">
            <span class="intro">During the summer, Bill completed the second semester</span>
            <span class="more"> and started a job at an internet startup. He is still currently working there and working on starting his own company too.</span>
            <span class="customer">Bill</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="mcphersons">
          <div class="quote">
            <span class="intro">When Ginger, a student from the third semester began,</span>
            <span class="more">she knew absolutely nothing about computers. She has since learned how to keep her children safe online and likes all things computers.</span>
            <span class="customer">Ginger</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="johnb">
          <div class="quote">
            <span class="intro">The staff at Code with Christ worked many hours with Jimmy</span>
            <span class="more">and he has since started his own internet company with amazing results.  He is currently in the process of selling his first company.</span>
            <span class="customer">Jimmy</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="lorraines">
          <div class="quote">
            <span class="intro">Code with Chirst is the only Christ centered coding program</span>
            <span class="more">in Tampa, FL but we are looking to expand to other cities around the nation and globally to teach people how to code.</span>
            <span class="customer">Code</span>
          </div>
        </blockquote>          
      </div>
    </div><!-- container -->
  </div><!-- testimonials page -->
</div><!-- main -->

<footer>
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Call me at <span class="phone">813-495-0134</span></p>
        <p>All contents &copy; 2015 DaveyBoy. All rights reserved.</p>    
      </div><!-- col-sm-6 -->
      <div class="col-sm-6">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </nav>        
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'mysite/myscript.js"></script>

</body>
</html>